extends ../base
block title
    | Change Password Request Page
block reqStyle
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    style.
      .center{
      margin:0;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      }
     .signin{
      background-color: hsla(201, 100%, 90%, 0.5);
      width: 100%;
      max-width: 400px;
      min-width: 600px;
      padding: 30px;
      }
block container
    - var msg = errorMessage
    h1.d-flex.justify-content-center.mt-4 Member Login Page

    .center
        .signin
            h3.d-flex.justify-content-center WELCOME
            form(action="/member/copass", method="POST") 
                .form-group.mb-2
                    label.form-label.mb-2(for='subj') Subject :
                    input.form-control#subj(type='text' name="subj" placeholder='Enter using Keywords' required)
                .form-group.mb-2
                    label.form-label.mb-2(for='msg') Message :
                    textarea#msg.form-control(rows='4' placeholder="Please Enter Your Details Here ..." name="msg" required)
                .button.d-flex.justify-content-center.mt-3
                    input.btn.btn-outline-primary.btn-md(type="submit", value="Submit")