extends memberBase
block title
        | Member Response Form
//- block reqHead 
//-     script(src='https://cdn.plot.ly/plotly-2.4.2.min.js')
block reqCss 
    style.
        a{
            text-decoration: none !important;
        }
        .spacing{
            margin-right:3rem !important;

        }
        .signin{
        background-color: hsla(201, 100%, 90%, 0.6);
        width: 100%;
        max-width: 400px;
        min-width: 600px;
        padding: 30px;
        }
        input,select{
        height: 40px;
        }
        .button{
        text-align: center;
        margin-top: 20px;
        }
        .sub{
        width: 40%;
        min-width: 40%;
        background-color: hsla(201, 100%, 100%, 0.6);
        }
block container
    .d-flex.justify-content-center.mt-3
        .signin
            form(action="/member/response", method="POST") 
                .form-group.mb-2
                    label.form-label.mb-2(for='resid') Response ID :
                    input#resid.form-control(type='text' value=resid name="resid" disabled='')
                .form-group.mb-2
                    label.form-label.mb-2(for='deptname') Department :
                    input.form-control#deptname(type='text' value=dept name="deptname" disabled='')
                .form-group.mb-2
                    label.form-label.mb-2(for='fuid') Form ID :
                    input#fuid.form-control(type='text' placeholder="Form ID"  value="" name="fuid")
                .form-group.mb-2
                    label.form-label.mb-2(for='subj') Subject :
                    input.form-control#subj(type='text' name="subj" placeholder='Subject' required)
                .form-group.mb-2
                    label.form-label.mb-2(for='detrep' ) Explain your response briefly :
                    textarea#detrep.form-control(rows='4' placeholder="Response Here ..." name="detrep" required)
                .button
                    input.sub.btn.btn-outline-primary.btn-md(type="submit", value="Submit")


