extends studentBase
block title
        | Student Dashboard

block reqCss 
    style.
        a{
            text-decoration: none !important;
        }
        .spacing{
            margin-right:3rem !important;

        }
        .signin{
        background-color: hsla(201, 100%, 90%, 0.6);
        width: 100%;
        max-width: 400px;
        min-width: 600px;
        padding: 30px;
        }
        input,select{
        height: 40px;
        }
        .button{
        text-align: center;
        margin-top: 20px;
        }
        .sub{
        width: 40%;
        min-width: 40%;
        background-color: hsla(201, 100%, 100%, 0.6);
        }
block container
    .d-flex.justify-content-center.mt-3
        .signin
            form(action="/student/report", method="POST") 
                .form-group.mb-2
                    label.form-label.mb-2(for='username') Name :
                    input.form-control#username(type='text' value=username name="username"  disabled='')
                .form-group.mb-2
                    label.form-label.mb-2(for='deptname') Department :
                    input.form-control#deptname(type='text' value=dept.toUpperCase() name="deptname" disabled='')
                .form-group.mb-2
                    label.form-label.mb-2(for='rollno') Roll No :
                    input#rollno.form-control(type='text' value=rollno name="rollno" disabled='')
                .form-group.mb-2
                    label.form-label.mb-2(for='fuid') Form Id :
                    input#fuid.form-control(type='text' value=fuid name="fuid" disabled='')
                .form-group.mb-2
                    label.form-label.mb-2(for='gtype') Grievance :
                    select.form-select#gytpe(aria-label='Default select example' name="gtype" required)
                        option(selected='') -Select-
                        option(value='Academic Problem') Academic Problem
                        option(value='Financial Problem') Financial Problem
                        option(value='Library Problem') Library Problem
                        option(value='Accommodation Problem') Accommodation Problem
                        option(value='Campus Problem') Campus Problem
                        option(value='Other Problems') Other Problems
                .form-group.mb-2
                    label.form-label.mb-2(for='subj') Subject :
                    input.form-control#subj(type='text' name="subj" placeholder='Enter using Keywords' required)
                .form-group.mb-2
                    label.form-label.mb-2(for='detrep') Explain your problem briefly :
                    textarea#detrep.form-control(rows='4' name="detrep" required)
                .button
                    input.sub.btn.btn-outline-primary.btn-md(type="submit", value="Submit")


